{% extends "base_anonymous.html"%}
{% load widget_tweaks%}

{% block header%} 
<h1 class="display-4">{{ Judul }}</h1>
<p class="lead">{{ Subjudul }}</p>
{% endblock header%} 

{% block content1%} 
<div class="" style="height: 1000px;">
<div class="input-group justify-content-center">
    
    <form method="POST">
        {%csrf_token%}
            <h2 class="fw-bold mb-2 text-uppercase text-center">Reset Your Password</h2>
            {{ form.as_p }}
            <button type="submit" class="btn btn-success justify-content-center" name="Create User">Submit</button>
    </form>
</div>

{% endblock content1%}