{% extends "base_anonymous.html"%}
{% load widget_tweaks%}

{% block header%} 
<h1 class="display-4">{{ Judul }}</h1>
<p class="lead">{{ Subjudul }}</p>
{% endblock header%} 

{% block content1%} 
<div class="" style="height: 1000px;">

    <h2 class="fw-bold mb-2 text-uppercase text-center">Reset yourpassword</h2>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered theaddress you registered with.</p>

</div>

{% endblock content1%}