{%load static%}

<nav class="navbar fixed-top navbar-expand-sm navbar-dark id="myNav" style="background-color: #222831;" >
    <a class="navbar-brand" href="#">
        <img id="banner" style="height: 30px;" src="{% static "img/Jungle_Heart.jpg" %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <a href="/">Home</a>
          <a href="/database">Database</a>
          <a href="/Login">Login</a>
          <a href="/Logout">Logout</a>
      </ul>  
    </div>
  </nav>